.pf-c-brand { text-align: center !important; height: 60px; }
.pf-c-background-image__filter { display: none !important; }
a[href="https://unsplash.com/@brendan_k_steeves"] { display: none !important; }
footer[class*="pf-c-"][class*="__footer"] { color: rgba(0,0,0,0.4) !important; }

:root {
  --ak-accent: #0f7d5d;
}
